/* 1. Variables de Color (Nuestra Paleta) */
:root {
  --color-fondo: #121212;
  --color-superficie: #1e1e1e;
  
  /* CAMBIO: Reemplazamos el verde por el dorado del logo */
  --color-primario: #E8B943; /* Este es el dorado/ocre de tu logo */

  --color-texto-principal: #e0e0e0;
  --color-texto-secundario: #a0a0a0;
  --radio-borde: 8px;
}

/* 2. Estilos Globales y Reset Básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Aplicamos la fuente que importamos */
  background-color: var(--color-fondo);
  color: var(--color-texto-principal);
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 700; /* Hacemos los títulos más gruesos */
}